.preview-container{
    position: relative;
    cursor: pointer;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
    background-color: white;
    border-radius: 5px;
    outline: 1px solid #eeeeee;
    background-size: cover;
    background-position: center;
    clip-path: polygon(35% 0, 65% 0, 100% 4%, 100% 88%, 50% 100%, 50% 100%, 50% 100%, 0 88%, 0% 35%, 0 4%);
}

.preview-container h2 {
    margin: 15px 0 0 0;
    text-align: center;
    /* color: #f71e43; */
    color: #424244e6;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1px;
}
.preview-container button {
  background: none;
  border: none;
  position: absolute;
  top: 5%;
  right: 1%;
  color: #db5858;
  background: #ffffffc2;
  padding: 3px 8px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 66% 35%, 100% 35%, 100% 67%, 65% 67%, 65% 100%, 35% 100%, 35% 67%, 0 67%);
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #db5858;
  transition: .3s ease;
}

.preview-container button:hover{
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    color: white;
}

.group-image {
    height: 70%;
    width: 100%;
    
    border-radius: 3px 3px 0 0;
}
.group-details{
    height: 30%;
    width: 100%;
    background-color: #ffffffd6;
}
.group-details p{
    text-align: center;
    margin: 3px 0 5px;
}